@media screen and (max-width: 1160px) {
    .container {
        width: 100%;
    }
}

/* Tab */

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

/* Mobile */

@media screen and (max-width: 480px) {

    .row {
        flex-direction: column;
    }

    .why-us {
        background-color: rgb(31, 31, 31);
        margin: 0;
        padding-bottom: 100px;
        padding-top: 50px;
    }

    .steps {
        margin: 0;
    }

    .lessons .col {
        width: 100%;
    }

    .steps .col {
        width: 100%;
    }

    .why-us .col-left {
        width: 100%;
    }

    .why-us .col-right {
        width: 100%;
    }

    .card {
        margin-bottom: 65px;
    }

    .col-left img {
        margin-bottom: 50px;
    }

}